{% extends 'base.html' %}

{% block head %}
<title>Cloud Computing Lab 1</title>
{% endblock %}

{% block body %}
<div id="container">
    <h1>gcloud computing lab</h1>

    <form action="triggerServerImage" method="post">
        <input type="submit" name="upvote" value="create new server image" />
    </form>
    <br><p> </p><br>
    <form action="triggerStorageBucket" method="post">
        <input type="submit" name="upvote" value="create new storage bucket" />
    </form>


</div>
{% endblock %}